/* ==== Google Fonts ====  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    /* background-color: #040405; */
    background-color: #0d1117;
}
:root {
    --header-height: 3rem;
    --font-semi: 600;
}

/*=== colors === */
:root {
    /* --first-color: #4070f4; */
    /* --first-color: #007c7c; */
    --first-color: #008080;
    /* --second-color: #0E2431; */
    --second-color: #fff;
}

:root {
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width:768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/*=== margins === */

:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/*=== Z index === */
:root {
    --z-black: -10;
    /* z-back or z-black */
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=== Bases === */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* * {
    width: 95%;
} */

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
    /* width: 80%; */
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*=== class css === */

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*=== layout === */

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /* background-color: #fff; */
    background-color: #040405;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*=== nav === */


.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width:767px) { 
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        /* background-color: var(--second-color); */
        background-color: #253138;
        transition: 0.5s;
    }
    
}



.nav__item {
    margin-bottom: var(--mb-4);
}

.nav-link {
    position: relative;
    color: #fff;
}

.nav-link:hover {
    position: relative;
}

.nav-link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*=== Active menu === */

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show Menu === */
.show {
    right: 0;
}


/*=== Home === */

.home {
    /* height: calc(100vh - 3rem); */
    padding-top: 4rem;
    row-gap: 1rem;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-3);
    margin-top: var(--mb-3);
    line-height: 2.5cm;
}

.home__data > h2{
    font-size: xx-large;
    margin-bottom: 25px;
}
.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    /* flex-direction: column; */
    /* margin-top: -100px; */
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--second-color);
}

.home__social-icon:hover {
    color: var(--first-color);
}

/* .home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    border-radius: 5%;
} */

/*=== Buttons === */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.5rem 2rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    /* margin-top: 2rem; */
}

.botton:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*=== About === */
.about__container {
    row-gap: 2rem;
    text-align: center;
    display: flex;

}

/* .about__subtitle {
    margin-bottom: var(--mb-2);
    margin-top: 20px;    
} */
.about__text{
    color: rgb(90, 103, 116);
}

/* .about__img {
    justify-self: center;
} */

.about__summery{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-end; */

}
.about__img img {
    width: 200px;
    border-radius: 0.5rem;
}
.intro_highlights{
    display: flex;
    justify-content: space-evenly;
    color: rgb(106, 117, 128);
}

.resume-button {
    margin: auto;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.5rem 0.4rem;
    font-weight: var(--font-semi);
    font-size: large;
    border-radius: 0.5rem;
    width: fit-content;
}

/*=== Skills === */

.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-black);
    /* or --z-back */
}


.skills__html {
    width: 80%;
}

.skills__css {
    width: 75%;
}

.skills__js {
    width: 90%;
}

.skills__java {
    width: 90%;
}

.skills__img {
    border-radius: 0.5rem;
}

/*=== Work === */

/* .work {
    text-align: center;
} */

/* .work__container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.work__img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
    cursor: pointer;
}

.work__img img:hover {
    transform: scale(1.1);

} */


/*=== Contact === */
.contact__input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    background-color: #253138;
    outline: none;
    margin-bottom: var(--mb-4);
}

.contact__button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;

}


/*=== Media Queries === */
@media screen and (min-width:767px) {
    body {
        margin: auto;
        width: 100%;
    }

    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .section-title {
        margin-bottom: var(--mb-6);
    }

    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav__list {
        display: flex;
        align-items: center;
        /* padding-top: 0; */
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav-link {
        color: var(--second-color);
        /* color: red; */
    }

    /* .home {
        height: 100vh;
    }

    .home__data {
        align-self: flex-end;
    }

    .home__social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    } */

    .home__social-icon {
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }

    /* .home-img {
        width: 457px;
        bottom: 15%;
    } */

    .about__container .skills__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;

    }

    .about__img img {
        width: 300px;
    }

    .work__container {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* grid-template-rows: repeat(2, 1fr); */
    }

    .contact__form {
        width: 360px;
    }

    .contact__container {
        justify-items: center;

    }
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }

    .home-img {
        right: 10%;
    }
}

/* modification from here  */
/*==================== SKILLS ====================*/
.tech__row {
    display: flex;
    padding: 15px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill_grid {
    /* display: flex; */
    gap: 50px;
}

.skill__box {
    position: relative;
    background-color: var(--container-color);
    margin: 10px;
    padding: 1.5rem 0.25rem 0.5rem;
    border: 1px solid var(--first-color);
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    transition: 0.3s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(119px, auto));
}


.skill__box div {
    text-align: center;
}

.skill__box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* modification which i wrote own my own  */
.skill_grid {
    text-align: center;
    justify-content: center;
}

.container {
    /* border : 2px solid green; */
    /* grid-template-columns: repeat(3, 1fr); */
    margin-bottom: var(--mb-4);

}

.stats {
    /* margin: var(--mb-2); */
    text-align: center;
    display: block;
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(119px, auto)); */
    width: 80%;
    margin: auto;

}

.github_stats {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(119px, auto)); */
}

.calendar {
    margin: var(--mb-2);
    width: 80%;
    padding: 20px;
    margin-top: 50px;
}

@media screen and (max-width:767px) {

    .github_stats {
        /* border: 1px solid green; */
        width: auto;
        height: max-content;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* grid-template-columns: repeat(auto-fit, minmax(119px, auto)); */
        /* grid-template-columns: repeat(1 ,2fr); */
    }

}


/*============ Education & Achievements ===========*/

.education{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.education__container, .achievements__container{
    width: 50%;
}
.education__title, .achievements__title{
    /* text-align: center; */
    color: var(--first-color);
    margin: 10px;
    padding: 10px;
}

.qualification_subtitle, .qualification_calender, .achievement_subtitle{
    color: rgb(106, 117, 128);
}
.qualification_title{
    font-weight: bold;
}

/* modification in projects section */
/* ========================== */
.work__container {
    width: 100%;
    margin: auto;
    display: grid;
    align-items: start;
    justify-items: center; 
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.work__box {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 8px;
}

.project-heading {
    color: var(--first-color-alt);
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-size);
}

.left_box_work,
.right_box_work {
    border-radius: 10px;

    padding: 15px;
    color: rgb(89, 98, 106);
}

.left_box_work>a {
    display: inline;
    font-size: 11px;
    font-weight: bold;
    color: var(--first-color);
    font-size: 15px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}

.left_box_work {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.right_box_work {
    width: 100%;
    display: flex;
    justify-content: content 100%;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.project-para {
    font-size: 18px;
    margin-bottom: 10px;
}
/* .project-description{
    color: darkgray;
} */

.work__img {
    transition: 1s;
    border-radius: 10px;
}

.work__img img:hover {
    transform: scale(1.1);
}

.button_tool {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 0.4rem 0.75rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    transition: 0.3s;
}

/* ======= Contact Section ======*/

.contact-container {
    display: flex;
    justify-content: space-around;
}

.contact-container-left {
    display: flex;

}

.row {
    margin: 30px 0;
    text-decoration: none;
    font-size: large;
    color: rgb(88, 101, 113);
    font-weight: bold;
}

.row a {
    color: rgb(88, 101, 113);
}


/* ====== FOOTER ====== */
.footer {
    width: 100%;
    padding-top: 0rem;
    text-align: center;
    background-color: var(--first-color);
}

.footer_container {
    row-gap: 2rem;
}

.footer_bg {
    background-color: var(--first-color-second);
    padding: 1rem 0 2rem;
}

.footer_title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
    font-size: var(--mb-3);
}

.footer_social {
    font-size: 1.25rem;
    margin: var(--mb-1);
}

.footer_social:hover {
    color: var(--first-color-lighter);
}

.footer_copy {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer_title,
.footer_subtitle,
.footer_social {
    color: #fff;
}


/* ====== SCROLL UP ====== */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 .3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.5s;
}

.scrollup:hover {
    background-color: var(--second-color);
}

.scrollup_icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scroll {
    bottom: 5rem;
}


/* ========== Media Queries-2 ========== */

@media screen and (max-width:480px) {
    body {
        margin: auto;
        width: 90%;
    }
    .home-img{
        display: none;
    }
    .home__title {
        font-size: 25px;
        margin-bottom: var(--mb-1);
        margin-top: var(--mb-1);
        line-height: 1.2cm;
    }
    .home__data > h2{
        font-size: 19px;
        line-height: 0.9cm;
    }   
    .home__social > a{
        padding-right: 20px;
        margin-top: 10px;
    }
    .home__container{
        margin-bottom: -60px;
    }

    .about__container{
        flex-direction: column;
        align-items: center;
    }
    .about__img-2{
        display: none;
    }
    .about__summery{
        width: 90%;
    }
    .about__summery div{
        margin: 10px 0;
    }
    .education{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .education__container, .achievements__container{
        width: 90%;
        margin-bottom: 50px;
    }
    .work__container{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .project-title{
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .project-description{
        font-size: var(--normal-font-size);
    }
    .skill__box{
        /* padding: 1.5rem 0.5rem 2rem 0.5rem; */
        padding: 1.5rem 0rem 0.5rem 0rem;
        /* width: 100px; */

    }
    .row{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .contact__container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-container-left{
        display: flex;
        justify-content: center;
    }
    
    
} 

@media screen and (min-width:481px) and (max-width:768px){
    body {
        margin: auto;
        width: 90%;
    }
    
    .home__title {
        font-size: 25px;
        margin-bottom: var(--mb-1);
        margin-top: var(--mb-1);
        line-height: 1.5cm;
    }
    .home__data > h2{
        font-size: 19px;
        line-height: 0.6cm;
    }
    
    .home__social > a{
        padding-right: 20px;
        margin-top: 10px;
    }
    .home-img {
        position: absolute;
        right: 5%;
        /* bottom: 45%; */
        top: 15%;
        width: 250px;
        border-radius: 5%;
    }
    /* .education{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .about__img-1{
        display: none;
    }
    .about__summery div{
        margin: 10px 0;
    }
    .project-title{
        font-size: x-large;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .project-description{
        font-size: var(--z-normal);
    }

    /* .skill__box{
        padding: 1.5rem 0.5rem 2rem 0.5rem;
    } */
    .work__container{    
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    @media screen and (min-width:481px) and (max-width:600px){
        .home-img{
            /* display: none; */
            width: 145px;
            bottom: 55%;
        }
    }
     
}

@media screen and (min-width:768px) {
    body {
        margin: auto;
        width: 100%;
    }

    .home__container{
        margin-top: 90px;
        margin-bottom: 70px;
    }
    .home-img {
        position: absolute;
        right: 16.5%;
        bottom: 0;
        width: 325px;
        border-radius: 10%;
        top: 27%;
    }
    
    .home__social {
        display: flex;
        /* flex-direction: column; */
        /* margin-top: -100px; */
        margin-top: 20px;
    }
    .about__img-1{
        display: none;
    }
    .work__container{
        width: 85%;
    }
    .project-description{
        font-size: var(--z-normal);
    }

    @media screen and (min-width:768px) and (max-width:950px){
        .home-img {
            width: 200px;     
            right: 10%;
        }
    }
}


/* ========================== */